<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Удаление фильма</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div>
    <label for="name">Название фильма:</label>
    <h2 th:text="${film.name}" id="name"></h2>
</div>
<div>
    <label for="image">Превью:</label><br>
    <img th:if="${film.image != null}" th:src="@{/images/{id}((id=${film.image.id}))}" id="image" width="400"/>
</div>
<div>
    <label for="description">Описание:</label>
    <p th:text="${film.description}" id="description"/>
</div>
<div>
    <label for="type">Жанр: </label>
    <p th:text="${film.type}" id="type">
</div>
<div>
    <label for="rating">Рейтинг</label>
    <p th:text="${film.rating}" id="rating">
</div>
<div>
    <form th:method="delete" th:action="@{/films/delete/{id}(id=${film.id})}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <button type="submit" class="btn btn-primary">Удалить</button>
    </form>
</div>

</body>
</html>